In [1]:
import pickle
from sklearn.externals import joblib
import pandas as pd

In [2]:
loaded_model = joblib.load("trigram_prat.pkl")

In [3]:
cols = ['sentiment','id','date','query_string','user','text']
df = pd.read_csv("testdata.manual.2009.06.14.csv",header=None, names=cols)

In [4]:
df.head()

,sentiment,id,date,query_string,user,text
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...

In [5]:
def fix_label(ob):
    if ob:
        return 1
    else:
        return 0
test =df['sentiment']
test = test.apply(fix_label)

In [6]:
test.tail()##test is the y_test

493    1
494    0
495    1
496    0
497    0
Name: sentiment, dtype: int64

In [7]:
my_df=df.drop(['id','sentiment','date','query_string','user'],axis=1)

In [8]:
my_df.tail()

                                                  text
493  Ask Programming: LaTeX or InDesign?: submitted...
494  On that note, I hate Word. I hate Pages. I hat...
495  Ahhh... back in a *real* text editing environm...
496  Trouble in Iran, I see. Hmm. Iran. Iran so far...
497  Reading the tweets coming out of Iran... The w...

In [9]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

pat1 = r'@[A-Za-z0-9_]+'
pat2 = r'https?://[^ ]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner_updated(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

testing = df.text[:100]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner_updated(t))
test_result

['loooooooovvvvvveee my kindle not that the dx is cool but the is fantastic in its own right',
 'reading my kindle love it lee childs is good read',
 'ok first assesment of the kindle it fucking rocks',
 'you ll love your kindle ve had mine for few months and never looked back the new big one is huge no need for remorse',
 'fair enough but have the kindle and think it perfect',
 'no it is too big quite happy with the kindle',
 'fuck this economy hate aig and their non loan given asses',
 'jquery is my new best friend',
 'loves twitter',
 'how can you not love obama he makes jokes about himself',
 'check this video out president obama at the white house correspondents dinner',
 'firmly believe that obama pelosi have zero desire to be civil it charade and slogan but they want to destroy conservatism',
 'house correspondents dinner was last night whoopi barbara sherri went obama got standing ovation',
 'watchin espn jus seen this new nike commerical with puppet lebron sh was hilarious lmao',
 'dear nike stop with the flywire that shit is waste of science and ugly love',
 'lebron best athlete of our generation if not all time basketball related do not want to get into inter sport debates about',
 'was talking to this guy last night and he was telling me that he is die hard spurs fan he also told me that he hates lebron james',
 'love lebron',
 'lebron is beast but still cheering the til the end',
 'lebron is the boss',
 'lebron is hometown hero to me lol love the lakers but let go cavs lol',
 'lebron and zydrunas are such an awesome duo',
 'lebron is beast nobody in the nba comes even close',
 'downloading apps for my iphone so much fun there literally is an app for just about anything',
 'good news just had call from the visa office saying everything is fine what relief am sick of scams out there stealing',
 'awesome come back from via',
 'in montreal for long weekend of much needed',
 'booz allen hamilton has bad ass homegrown social collaboration platform way cool ttiv',
 'mluc customer innovation award winner booz allen hamilton',
 'current use the nikon and love it but not as much as the canon chose the for the video feature my mistake',
 'need suggestions for good ir filter for my canon got some pls dm',
 'just checked my google for my business blip shows up as the second entry huh is that good or ba',
 'google is always good place to look should ve mentioned worked on the mustang my dad',
 'played with an android google phone the slide out screen scares me would break that fucker so fast still prefer my iphone',
 'us planning to resume the military tribunals at guantanamo bay only this time those on trial will be aig execs and chrysler debt holders',
 'omg so bored my tattoooos are so itchy help aha',
 'itchy and miserable',
 'no not itchy for now maybe later lol',
 'rt love the nerdy stanford human biology videos makes me miss school',
 'has been bit crazy with steep learning curve but lyx is really good for long docs for anything shorter it would be insane',
 'listening to by danny gokey aww he so amazing him so much',
 'is going to sleep then on bike ride',
 'cant sleep my tooth is aching',
 'blah blah blah same old same old no plans today going back to sleep guess',
 'glad didnt do bay to breakers today it freaking degrees in san francisco wtf',
 'is in san francisco at bay to breakers',
 'just landed at san francisco',
 'san francisco today any suggestions',
 'obama administration must stop bonuses to aig ponzi schemers',
 'started to think that citi is in really deep are they gonna survive the turmoil or are they gonna be the next aig',
 'shaunwoo hate on aig',
 'you will not regret going to see star trek it was awesome',
 'on my way to see star trek the esquire',
 'going to see star trek soon with my dad',
 'annoying new trend on the internets people picking apart michael lewis and malcolm gladwell nobody wants to read that',
 'bill simmons in conversation with malcolm gladwell',
 'highly recommend by malcolm gladwell',
 'blink by malcolm gladwell amazing book and the tipping point',
 'malcolm gladwell might be my new man crush',
 'omg the commercials alone on espn are going to drive me nuts',
 'playing with twitter api sounds fun may need to take class or find new friend who like to generate results with api code',
 'playing with curl and the twitter api',
 'hello twitter api',
 'playing with java and the twitter api',
 'because the twitter api is slow and most client are not good',
 'yahoo answers can be butt sometimes',
 'is scrapbooking with nic',
 'rt five things wolfram alpha does better and vastly different than google',
 'just changed my default pic to nike basketball cause bball is awesome',
 'nike owns nba playoffs ads lebron kobe carmelo adidas billups howard marketing branding',
 'next time ll call myself nike',
 'new blog post nike sb dunk low premium white gum',
 'rt was just told that nike layoffs started today',
 'back when worked for nike we had one fav word just do it',
 'by the way totally inspired by this freaky nike commercial',
 'giving weka an app engine interface using the bird strike data for the tests the logo is given',
 'brand new canon eos mp dslr camera canon mm is lens web technology thread brand new canon eos',
 'class the is supposed to come today',
 'needs someone to explain lambda calculus to him',
 'took the graduate field exam for computer science today nothing makes you feel like more of an idiot than lambda calculus',
 'shout outs to all east palo alto for being in the buildin karizmakaze cal gta also thanks to profits of doom universal hempz cracka',
 'yeahhhhhhhhh would not really have lived in east palo alto if could have avoided it guess it only for the summer',
 'great stanford course thanks for making it available to the public really helpful and informative for starting off',
 'nvidia names stanford bill dally chief scientist vp of research',
 'new blog post harvard versus stanford who wins',
 'work til pm lets go lakers',
 'damn you north korea',
 'can we just go ahead and blow north korea off the map already',
 'north korea please cease this douchebaggery china does not even like you anymore',
 'why the hell is pelosi in freakin china and on whose dime',
 'are you burning more cash than chrysler and gm stop the financial tsunami where bailout means taking handout',
 'insects have infected my spinach plant',
 'wish could catch every mosquito in the world burn em slowly they been bitin the shit outta me day mosquitos are the assholes of insects',
 'just got back from church and totally hate insects',
 'just got mcdonalds goddam those eggs make me sick yeah laker up date go lakers not much of an update well it true so suck it',
 'omgg ohhdee want mcdonalds damn wonder if its open lol',
 'history exam studying ugh',
 'hate revision it so boring am totally unprepared for my exam tomorrow things are not looking good',
 'higher physics exam tommorow not lookin forward to it much',
 'it bank holiday yet only out of work now exam season sucks']

In [10]:
y_pred = loaded_model.predict(my_df['text'])

In [11]:
y_pred

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0])

In [12]:
print(y_pred)

[1 1 1 1 1 1 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 0 0
 1 0 1 1 1 0 0 0 1 1 1 0 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 0 0 0 1 1 1 1 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 0 0 0 0 0 0
 0 0 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0
 0 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 1 1 1
 0 0 1 0 1 0 0 0 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 1 1 0 0 1 0 0 0 0 1 1 1 0 1 1 1 1 1 1 0 1 0
 0 0 1 0 0 0 1 1 0 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 0 1 1 1 0 1 1 1 0 0 0 1 0
 0 0 1 0 0 1 1 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 1 0 0 0 1 0
 0 0 0 0 1 0 1 1 1 1 0 0 1 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 0 1 1 0 1 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 0 0 1 1 0 1 1 1 1 1 0 1 1 1 1 0 0
 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1 0 0]

In [13]:
print(test)

0      1
1      1
2      1
3      1
4      1
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     1
16     0
17     1
18     0
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
468    0
469    1
470    1
471    1
472    1
473    1
474    0
475    1
476    1
477    1
478    1
479    1
480    0
481    0
482    0
483    1
484    0
485    0
486    1
487    1
488    1
489    1
490    0
491    1
492    1
493    1
494    0
495    1
496    0
497    0
Name: sentiment, Length: 498, dtype: int64

In [14]:
from sklearn.metrics import accuracy_score 
accuracy = accuracy_score(test, y_pred)

In [15]:
from sklearn.metrics import classification_report

In [16]:
r = classification_report(test,y_pred)
print (r)

             precision    recall  f1-score   support

          0       0.75      0.76      0.75       177
          1       0.87      0.86      0.86       321

avg / total       0.82      0.82      0.82       498

In [17]:
print ("accuracy score: {0:.2f}%".format(accuracy*100))

accuracy score: 82.33%

In [15]:
# cols = ['sentiment','id','date','query_string','user','text']
# df = pd.read_csv("testing.csv",encoding="utf-8",header=None, names=cols)

In [16]:
df

,sentiment,id,date,query_string,user,text
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I love Taylor Swift
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Hate ypu dude!!
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,"@kenburbary Chill, No need for remorse! :)"
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
5,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...
6,0,9,Mon May 11 03:22:30 UTC 2009,aig,Seth937,Fuck this economy. I hate aig and their non lo...
7,4,10,Mon May 11 03:26:10 UTC 2009,jquery,dcostalis,Jquery is my new best friend.
8,4,11,Mon May 11 03:27:15 UTC 2009,twitter,PJ_King,Loves twitter
9,4,12,Mon May 11 03:29:20 UTC 2009,obama,mandanicole,how can you not love Obama? he makes jokes abo...

In [17]:
# my_df=df.drop(['id','sentiment','date','query_string','user'],axis=1)

In [18]:
# my_df

                                                text
0                   @stellargirl I love Taylor Swift
1                                    Hate ypu dude!!
2  Ok, first assesment of the #kindle2 ...it fuck...
3        @kenburbary  Chill, No need for remorse! :)
4  @mikefish  Fair enough. But i have the Kindle2...
5  @richardebaker no. it is too big. I'm quite ha...
6  Fuck this economy. I hate aig and their non lo...
7                      Jquery is my new best friend.
8                                      Loves twitter
9  how can you not love Obama? he makes jokes abo...

In [20]:
# import pandas as pd  
# import numpy as np
# import matplotlib.pyplot as plt
# plt.style.use('fivethirtyeight')

# %matplotlib inline
# %config InlineBackend.figure_format = 'retina'
# import re
# from bs4 import BeautifulSoup
# from nltk.tokenize import WordPunctTokenizer
# tok = WordPunctTokenizer()

# pat1 = r'@[A-Za-z0-9_]+'
# pat2 = r'https?://[^ ]+'
# combined_pat = r'|'.join((pat1, pat2))
# www_pat = r'www.[^ ]+'
# negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
#                 "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
#                 "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
#                 "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
#                 "mustn't":"must not"}
# neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

# def tweet_cleaner_updated(text):
#     soup = BeautifulSoup(text, 'lxml')
#     souped = soup.get_text()
#     try:
#         bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
#     except:
#         bom_removed = souped
#     stripped = re.sub(combined_pat, '', bom_removed)
#     stripped = re.sub(www_pat, '', stripped)
#     lower_case = stripped.lower()
#     neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
#     letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
#     # During the letters_only process two lines above, it has created unnecessay white spaces,
#     # I will tokenize and join together to remove unneccessary white spaces
#     words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
#     return (" ".join(words)).strip()

# testing = df.text[:100]
# test_result = []
# for t in testing:
#     test_result.append(tweet_cleaner_updated(t))
# test_result

['love taylor swift',
 'hate ypu dude',
 'ok first assesment of the kindle it fucking rocks',
 'chill no need for remorse',
 'fair enough but have the kindle and think it perfect',
 'no it is too big quite happy with the kindle',
 'fuck this economy hate aig and their non loan given asses',
 'jquery is my new best friend',
 'loves twitter',
 'how can you not love obama he makes jokes about himself']

In [21]:
# y_pred_prateek= loaded_model.predict(my_df['text'])

In [22]:
# print(y_pred_prateek)

[1 0 1 0 1 1 0 1 1 1]